#info{
    background-color: #272E34;
    color: white;
    padding-top: 50px;
    h2{
        font-family: 'Bodoni Moda', serif;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    p{
        font-family: 'Bodoni Moda', serif;
        font-weight: lighter;
        display: flex;
        justify-content: center;
        align-content: center;
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 20px;
        padding-bottom:50px;
    }

}